<div class="card mb-4 shadow-sm">
  <img class="bd-placeholder-img card-img-top" width="100%" [src]="productItem.image" />

  <div class="card-body">
    <p class="card-text"><strong>Total: {{productItem.price | currency: 'EUR'}}</strong></p>
    <button *ngIf="addedToFavorite" type="button" class="btn btn-sm btn-primary" (click)="removeFromFavorite1()">Remove from favorite</button>
    <button *ngIf="!addedToFavorite" type="button" class="btn btn-sm btn-secondary" (click)="addToFavorite1()">Add to favorite</button>
    <p class="card-text">{{productItem.description | slice:0.50}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary" (click)="addtoCart()">Add to cart</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="removeFromCart()">Remove from cart</button>

      </div>

    </div>
  </div>
</div>
